{% extends "base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
<div class="jumbotron home">
    <div class="container">
        <h1>Register</h1>
    </div>
</div>
<div class="container main-container">
    <div class="row">
        <div id="login-container" class="col-md-6 col-md-offset-3">
            {% for error in errors %}
                <div class="alert alert-danger alert-dismissable" role="alert">
                  <span class="sr-only">Error:</span>
                  {{ error }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
            {% endfor %}
            <form method="post" accept-charset="utf-8" autocomplete="off" role="form" class="form-horizontal">
                <div class="row">
                    <div class="col-md-12">
                        <span class="input">
                        <input class="input-field" type="text" name="name" id="input-10" />
                        <label class="input-label" for="input-10">
                            <span class="label-content" data-content="Team Name">Team Name</span>
                        </label>
                    </span>
                    </div>
                </div>
                <input class="input-field" type="hidden"  name="email" id="input-10" value="null@a2cn.de"/>
                <div class="row">
                    <div class="col-md-12">
                        <span class="input">
                        <input class="input-field" type="password" name="password" id="input-10" />
                        <label class="input-label" for="input-10">
                            <span class="label-content" data-content="Password">Password</span>
                        </label>
                    </span>
                    </div>
                </div>
                <div class="done-row row">
                    <div class="col-md-6 col-md-offset-6" style="margin-top:10px">
                        <button type="submit" id="submit" tabindex="5" class="btn btn-md btn-theme btn-outlined pull-right">Submit</button>
                    </div>
                </div>
                <input type="hidden" name="nonce" value="{{ nonce }}">
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ request.script_root }}/static/{{ ctf_theme() }}/js/style.js"></script>
<script>
	if (window.location.hash == "#frame"){
		$('.top-bar').hide()
	}
</script>
{% endblock %}
